* {
    font-family: 'work sans', sans-serif;
    margin: 0;
}

.header {
    background-color: rgb(23, 23, 23);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.name-icon {
    color: white;
    justify-content: center;
    font-size: 18px;
}

.title-dec {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    gap: 12px;
}

.home {
    font-size: 14px;
    color: rgb(190, 189, 189);
    font-weight: 500;
}

.home:hover {
    cursor: pointer;
    font-size: 14px;
    color: rgb(150, 150, 150);
    font-weight: 500;
}

.home:active {
    cursor: pointer;
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 500;
}

.login {
    color: rgb(190, 189, 189);    
    font-size: 14px;
    font-weight: 500;
}

.login:hover {
    cursor: pointer;
    font-size: 14px;
    color: rgb(150, 150, 150);
    font-weight: 500;
}

.login:active {
    cursor: pointer;
    font-size: 14px;
    color: rgb(113, 113, 113);
    font-weight: 500;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.sub {
    margin-top: 75px;
    margin-left: 55px;
    width: 50%;
    color: rgb(97, 96, 96);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stadium {
    height: 100vh;
    width: 90%;
    margin-top: 25px;    
    border-radius: 0.8rem;
}